@page "/todo"

<CascadingValue Value="ToDoItemDtos">
    <Row Class="todo-row">
        <Col Xs="0" Md="1"></Col>
        <Col Xs="24" Md="22">
            <div Class="todo-content">
                <ToDoTopBar></ToDoTopBar>
                <ToDoList></ToDoList>
                <ToDoBackground></ToDoBackground>
                <ToDoAddBar></ToDoAddBar>
            </div>
        </Col>
        <Col Xs="0" Md="1"></Col>
    </Row>
</CascadingValue>

<style>
    .todo-row { 
        background-color: #f8f8f8;
    }

    .todo-content {
        margin: 0 24px;
    }
</style>