@page "/todo"

<Row>
    <Col Xs="0" Md="1"></Col>
    <Col Xs="24" Md="22">
        <div Class="todo-content">
            <ToDoTopBar DateToday="DateToday"></ToDoTopBar>
            <ToDoList></ToDoList>
            <ToDoBackground></ToDoBackground>
        </div>
    </Col>
    <Col Xs="0" Md="1"></Col>
</Row>

<style>
    .todo-content {
        margin: 0 24px;
    }
</style>