<Row Class="todo-row">
    <div class="todo-left"></div>
    <div class="todo-right"></div>
</Row>

<style type="text/css">
    .todo-row {
        margin: 10px 0px;
        justify-content: space-evenly;
    }

    .todo-left {
        width: 55%;
        height: 160px;
        background-color: bisque;
    }

    .todo-right {
        width: 33%;
        height: 160px;
        background-color: cadetblue;
    }
</style>